body {
    background-color: #282c35;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
    position: absolute;
    top: 60%;
    font-size: 24px;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}